<table>
  <tr ng-repeat="x in planHTMLs4g.data">
   
    <td>{{ x.Amount }}</td> <td>{{ x.Validity }}</td>
    <td>{{ x.Shortdesc }}</td>
    
  </tr>
   
  <tr ng-repeat="x in planHTMLs2g.data">
   
    <td>{{ x.Amount }}</td> <td>{{ x.Validity }}</td>
    <td>{{ x.Shortdesc }}</td>
    
  </tr>
                    
  <tr ng-repeat="x in planHTMLftt.data">
   
    <td>{{ x.Amount }}</td> <td>{{ x.Validity }}</td>
    <td>{{ x.Shortdesc }}</td>
    
  </tr>
                    
  <tr ng-repeat="x in planHTMLtop.data">
   
    <td>{{ x.Amount }}</td> <td>{{ x.Validity }}</td>
    <td>{{ x.Shortdesc }}</td>
    
  </tr>
  
  <tr ng-repeat="x in planHTMLsms.data">
   
    <td>{{ x.Amount }}</td> <td>{{ x.Validity }}</td>
    <td>{{ x.Shortdesc }}</td>
    
  </tr>
  <tr ng-repeat="x in planHTMLother.data">
   
    <td>{{ x.Amount }}</td> <td>{{ x.Validity }}</td>
    <td>{{ x.Shortdesc }}</td>
    
  </tr>
  <tr ng-repeat="x in planHTMLfull.data">
   
    <td>{{ x.Amount }}</td> <td>{{ x.Validity }}</td>
    <td>{{ x.Shortdesc }}</td>
    
  </tr>
</table>
 
 